<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
    <head>
            <!-- {% load static %} -->
        <title>SOSELIMEX</title>
        <link rel="shortcut icon" href="{% get_static_prefix %}img/icono.ico" type="image/x-icon" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/reset.css">
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/styles.css">
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.crossSelect.css">
        <link type="text/css" href="{% get_static_prefix %}cssjs/blitzer/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/jquery.treeview/jquery.treeview.css" type="text/css" />
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.10.custom.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jQuery.crossSelect-0.5.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jq_form.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/hotkeys.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jstree/jquery.jstree.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery.simpleMultiSelect.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/submenu.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery.titlealert.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery.titlealert.min.js"></script>
        {% block head %}{% endblock %}
    </head>

    <body id="home">
        <div id="mainContent">
            <div id="header">
                <div id="headerLogo">
                    {% url AccTickets.views.index as fallback_url %} <a href="{{ fallback_url }}"> <img src="{% get_static_prefix %}img/logo.png" alt="SOSELIMEX"> </a>
                </div>
                <div id="headerSubmenu">
                    <div id="welcome">
                        Bienvenido {{ request.user.username }}
                    </div>
                    <div >
                        <span class="welmenu" id="close"> <a href="/accounts/logout/">Cerrar sesion</a> </span>
                        {% if user.is_superuser %} <span class="welmenu" id="advance" > <a href="/admin/">Opciones avanzadas</a> </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="navBar">
                <ul id="backMenu">
                    <li class="borderRight">
                    {% block back %} {% endblock %}
                    </li>
                </ul>
                <ul id="mainMenu">
                    {% if not user.is_staff and perms.AccTickets.add_suceso %}
                    <li class="borderRight">
                        <a href="/AccTickets/suceso/crear/">Reportar Suceso</a>
                    </li>
                    {% endif %}
          {% if user.is_superuser %}
               <li class="borderRight">
                              <a href="/AccTickets/suceso/crear/">Reportar Suceso</a>
                         </li>
          {% endif %}
                    {% if perms.AccTickets.ver_reportes %}
                    <li class="borderRight" id="reportes">
                        <a href="#">Reportes</a>
                    </li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li class="borderRight" id="otcau">
                        <a href="#">Órden de Trabajo CAU</a>
                    </li>
                    {% endif %}
                    {% if perms.AccTickets.ver_planos %}
                    <li class="borderRight" id="planos">
                        <a href="/AccTickets/planos/">Planos</a>
                    </li>
                    {% endif %}
                </ul>
                <ul id="mainSubmenu">
                    {% url AccTickets.views.reportes  as fallback_urlreportes %}
                    <li class="lisubmenu">
                        <a href="{{ fallback_urlreportes }}">Reporte Condensado</a>
                    </li>
                    <li class="lisubmenu">
                        ::
                    </li>
                    <li class="lisubmenu" >
                        <a href="AccTickets/reporteUsuarios/">Reporte servicios por usuario</a>
                    </li>
                </ul>
                <ul id="mainSubmenuCAU">
                    {% if user.is_staff or perms.AccTickets.add_suceso_CAU  %}
                    {% url AccTickets.views.reportes  as fallback_urlreportes %}
                    <li class="lisubmenu">
                        <a href="/AccTickets/otcau/crear/1/">Crear órdenes de trabajo</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% block message %}{% endblock %} <div class="clear"></div>
            <div id="bodyContent">
                <h1> {% block page_title %}{% endblock %} </h1>
                <div id="bodyContent">
                    <div class="columnType2">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div id="footer">
                {% block footer %}
                SOSELIMEX
                {% endblock %}
            </div>
        </div>
    </body>
</html>